---
layout: page
title: "Resources"
description: "记录学习日常"
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>每天进步一点点，积水成渊，蛟龙生焉。</p></blockquote>
    <p>这里是我学习ROS、Python、SLAM、深度学习、机器学习、强化学习、大模型和具身智能的相关资料（持续更新中，请常来看看）。</p>

    <h3 id="toc_0">基础部分</h3>

<ul>
<li><strong>数学基础</strong>：高等数学（微积分、线性代数、概率论与数理统计）</li>
<li><strong>Python基础</strong>：需掌握Python编程基础和科学计算库（NumPy、Pandas）</li>
<li>书籍：《Python编程：从入门到实践》等</li>
<li>文字教程：
    <ul>
    <li><a href="https://www.liaoxuefeng.com/wiki/1016959663602400">Python教程 - 廖雪峰的官方网站</a>（推荐）</li>
    <li><a href="https://www.runoob.com/python/python-tutorial.html">Python 基础教程 | 菜鸟教程</a></li>
    <li><a href="https://www.byhuyu.com/python-install.html">安装与运行 - 白月黑羽</a></li>
    </ul>
</li>
<li>视频教程：
    <ul>
    <li><a href="https://www.bilibili.com/video/BV1FW411W7MC">北京理工大学（导师：嵩天） - Python语言程序设计（零基础快速入门）</a></li>
    <li><a href="https://www.bilibili.com/video/BV1qJ411c7M6">黑马程序员python教程，8天python从入门到精通</a></li>
    <li><a href="https://www.bilibili.com/video/BV1h5411R75s">超超超基础Python课程，3小时快速入门</a></li>
    </ul>
</li>
</ul>

<h3 id="toc_1">机器学习</h3>

<ul>
<li>机器学习概念：监督学习、无监督学习、强化学习</li>
<li>推荐书籍：
    <ul>
    <li><a href="https://book.douban.com/subject/10773920/">《机器学习》 - 周志华</a></li>
    <li><a href="https://book.douban.com/subject/23005118/">《统计学习方法》 - 李航</a></li>
    </ul>
</li>
<li>推荐网课：
    <ul>
    <li><a href="https://www.bilibili.com/video/BV1xW411n7V5">2024公认最好的【吴恩达机器学习】教程！附课件代码 Machine Learning Specialization</a></li>
    <li><a href="https://www.bilibili.com/video/BV1xW411n7V5">机器学习入门到精通！同济大佬12小时带你从入门到进阶</a></li>
    <li><a href="https://www.bilibili.com/video/BV1HJ411c7mD">【机器学习】【白板推导系列】【合集 1～33】</a></li>
    </ul>
</li>
<li>实战与应用：推荐资源：<a href="https://www.kaggle.com/">Kaggle竞赛</a>、<a href="https://colab.research.google.com/">Google Colab</a></li>
</ul>

<h3 id="toc_2">深度学习</h3>

<ul>
<li>深度学习基础：神经网络、卷积神经网络（CNN）、循环神经网络（RNN）</li>
<li>推荐书籍：
    <ul>
    <li><a href="https://book.douban.com/subject/27097688/">《深度学习》 - Ian Goodfellow, Yoshua Bengio, Aaron Courville</a></li>
    <li><a href="https://zh.d2l.ai/">《动手学深度学习》 - 李沐等</a></li>
    </ul>
</li>
<li>推荐网课（都比较推荐）：
    <ul>
    <li><a href="https://www.bilibili.com/video/BV1WJ411h7M2">00 预告【动手学深度学习v2】</a></li>
    <li><a href="https://zh.d2l.ai/">配套材料电子版：https://zh.d2l.ai/</a></li>
    <li><a href="https://www.bilibili.com/video/BV1hJ411m7Gs">计算机视觉与深度学习 北京邮电大学 鲁鹏 清晰版合集（完整版）</a></li>
    <li><a href="https://www.bilibili.com/video/BV1RJ411h7Mf">PyTorch深度学习快速入门教程（绝对通俗易懂！）</a></li>
    </ul>
</li>
</ul>

<h3 id="toc_3">强化学习</h3>

<ul>
<li>强化学习基础：马尔可夫决策过程、值函数、策略梯度</li>
<li>推荐书籍：《深度强化学习》</li>
<li>推荐网课：
    <ul>
    <li><a href="https://www.bilibili.com/video/BV1sJ411h7Mx">【王树森】深度强化学习(DRL)</a></li>
    <li><a href="https://www.bilibili.com/video/BV1FJ411h7Mj">【强化学习的数学原理】课程：从零开始到透彻理解（完结）</a></li>
    <li><a href="https://www.bilibili.com/video/BV1KJ411h7M8">不愧是李宏毅老师讲的【强化学习】简直太详细！！！</a></li>
    </ul>
</li>
<li>实战与应用：Q-Learning、DQN、PPO、A3C  推荐资源：<a href="https://spinningup.openai.com/en/latest/">OpenAI Spinning Up</a></li>
</ul>

<h3 id="toc_4">大模型</h3>

<ul>
<li>大模型的理论基础还是基于深度学习的transformer架构，所以请打好深度学习的基础再入门大模型，建议按照下列顺序学习↓</li>
<li>了解开源大模型：研究业内常见的开源语言大模型和多模态大模型，如<a href="https://huggingface.co/Qwen/Qwen-VL-Chat">Qwen</a>等。</li>
<li>模型微调：微调<a href="https://huggingface.co/Qwen/Qwen-VL-Chat">Qwen_VL模型</a>，实践迁移学习技巧。</li>
<li>实现GPT2：跟随教程从零开始实现GPT2模型，深入理解模型架构。资源链接：从零开始实现GPT2</li>
<li>复现代码：阅读并复现<a href="https://github.com/openai/CLIP">CLIP</a>和<a href="https://github.com/salesforce/BLIP">BLIP</a>模型的源码，掌握多模态大模型的实现细节。</li>
</ul>

<h3 id="toc_5">ROS（机器人操作系统）</h3>

<ul>
<li>ROS基础：安装与配置、节点、话题、服务</li>
<li>推荐书籍：
    <ul>
    <li><a href="https://book.douban.com/subject/35485176/">《ROS机器人理论与实践》 - 张新钰等</a></li>
    <li>《ROS机器人操作系统》系列</li>
    </ul>
</li>
<li>推荐网课：
    <ul>
    <li>古月·ROS入门21讲、ROS Wiki</li>
    <li><a href="https://www.bilibili.com/video/BV1bJ411h7Mj">机器人操作系统 ROS 快速入门教程</a></li>
    <li><a href="https://www.bilibili.com/video/BV1xJ411h7MW">【鱼香ROS】动手学ROS2|ROS2基础入门到实践教程|小鱼带你手把手学习ROS2</a></li>
    </ul>
</li>



<ul>
    <li>冰达机器人：1.国产平台小车 （与实物小车配套）</li>
    <li>ROS相关故事：ROS史话36篇.19 ROS之OpenCV - 创客智造</li>
    <li>ROS-LLM（ROS结合大模型）：<a href="https://github.com/Auromix/ROS-LLM">GitHub - Auromix/ROS-LLM</a></li>
    </ul>
    
    <h3 id="toc_6">补充资源</h3>
    
    <ul>
    <li>练手平台：
        <ul>
        <li><a href="https://leetcode-cn.com/">Leetcode平台</a>，用于练习python算法与数据结构，编程能力，可以做每日一题</li>
        <li><a href="https://www.kaggle.com/">Kaggle平台</a>，一个ai竞赛网站，各个方向均有</li>
        </ul>
    </li>
    <li>在线课程：
        <ul>
        <li><a href="https://www.bilibili.com/">哔哩哔哩</a></li>
        <li><a href="https://www.coursera.org/">Coursera</a></li>
        <li><a href="https://www.edx.org/">edX</a></li>
        <li><a href="https://www.icourse163.org/">中国大学MOOC</a></li>
        <li><a href="https://www.udemy.com/">Udemy</a></li>
        <li><a href="https://www.khanacademy.org/">Khan Academy</a></li>
        </ul>
    </li>
    <li>社区与讨论：
        <ul>
        <li><a href="https://www.zhihu.com/">知乎</a></li>
        <li><a href="https://www.csdn.net/">CSDN</a></li>
        <li><a href="https://github.com/">GitHub</a></li>
        <li><a href="https://stackoverflow.com/">Stack Overflow</a></li>
        </ul>
    </li>
    </ul>
    
    <hr>
    
    <small> <font color="a0a9a9">
    <b>特别说明：</b>
    <li>因为人工智能领域的技术和知识还在不断发展中，您现在学习的内容将来可能还会有更新，敬请理解。</li>
    <li>若不同文件存在不一致的地方，请以你的理解为准，或咨询作者。</li>
    </font> </small>

        
</div>



<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'resources',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

